Collision Data/mc20_13TeV_MC_PhPy8EG_A14_ttbar_hdamp258p75_nonallhad_file_index.json
xrootd-5.5.4-py311h28ae080_0.conda
ניהול משימות.docx
*.cpython-312.pyc
*.root.1
*.pkl 
*.pyc
.idea

.devcontainer/*
.devcontainer/
tutorial/*
BumpNet-main/*
output_dir/*
data/*
סיכום פרויקט שקמה.txt
atlas_crashes.log
src/parse_atlas/parser.py
atlas_stats.json
test_main.ipynb
test.py
testing_scripts/*
.devcontainer/devcontainer.json
