tasks:
  do_parsing: true
  do_mass_calculating: false

parsing:
  parse_in_subprocess: false #important for cluster processing
  random_files: false #for testing
  release_year: '2024'
  all_years: false #TODO implement this maybe remove parameter from fetch records
  max_threads: 4
  max_process_memory_mb: 8192
  # max_chunk_size_bytes: 1000000000 #1GB 
  max_chunk_size_bytes: 50000000 #50MB for testing
  file_limit: 10
  output_path: 'data/root_files'
  logging_path: 'logs/'
  # crashed_files: 'crashed_files.json'

  particle_counts:
    Electrons:
      min: 1
      max: 6
    Muons:
      min: 1
      max: 6
    Jets:
      min: 2
      max: 8
    Photons:
      min: 0
      max: 5

  kinematic_cuts:
    pt:
      min: 0
    eta:
      min: -5
      max: 5
    phi:
      min: -3.141592653589793
      max: 3.141592653589793

mass_calculate:
  input_dir: 'data/root_files'
  output_dir: 'data/inv_masses'
  objects_to_calculate:
      - Electrons
      - Muons
      - Jets
      - Photons
