tasks:
  do_parsing: true
  do_mass_calculating: false

testing_config:
  status: false #normal or random

parsing_config:
  run_metadata:
    temp: false

  pipeline_config:
    # ===USE A MULTIPROCESSING WHILE PARSING
    parse_in_multiprocessing: true #important for cluster processing
    # ===ADD FAILED FILES TO QUEUE OF FILES===
    count_retries_failed_files: 1 #CHECK retry files 
    # ===SHUFFLE THE FILES FOR RANDOMNESS===
    random_files: false #FEATURE CONFIG random_files
    # ===AMOUNT OF PROCESSES TO PARSE FILES===
    max_parallel_workers: 4
    # ===AMOUNT OF FILES TO LIMIT EACH YEAR (MAINLY TESTING PURPOSES)===
    limit_files_per_year: 500 #FOR TESTING - limit number of files per year
    # ===SOMETIMES FETCHING METADATA CAN BE LONG, SO SET A TIMEOUT===
    fetching_metadata_timeout: 60
    # ===PATH FOR OUTPUTTING THE DATA===
    output_path: "data/root_files"
  
  atlasparser_config:
    # max_environment_memory_mb: 8192
      # ===RELEVANT WHEN USED IN A RESTRICTED MEMORY ENV (A CLUSTER)===
    max_environment_memory_mb: 15000
    # ===RELEASE YEARS TO PARSE THE FILES FROM (CAN BE EMPTY)===  
    release_years: ["2024r-pp"]
    # ===AMOUNT OF THREADS TO USE MULTITHREADING WITH, 4 IS A STABLE AMOUNT===
    max_threads: 4
    # ===A THRESHOLD FOR PREVENTING MEMORY OVERLOAD===
    chunk_yield_threshold_bytes: 1000000000 #?1GB 
    # chunk_yield_threshold_bytes: 100000000 #FOR TESTING - 50MB for testing
    # ===PATH FOR OUTPUTTING THE LOGS===
    logging_path: "logs/"
    # ===SHOULD CREATE LOGGING AND DATA DIRECTORIES===
    create_dirs: true
    # ===THE NAMES FOR THE DATA TREES INSIDE THE ROOT FILES, IT VARIES BY RELEASE YEAR===
    possible_tree_names: ["CollectionTree", "mini", "analysis"]

  particle_counts:
    Electrons:
      min: 1
      max: 6
    Muons:
      min: 1
      max: 6
    Jets:
      min: 2
      max: 8
    Photons:
      min: 0
      max: 5

  kinematic_cuts:
    pt:
      min: 0
    eta:
      min: -5
      max: 5
    phi:
      min: -3.141592653589793
      max: 3.141592653589793

mass_calculate:
  # ===SLICE EVENTS AT TOP X PARTICLES BY THIS FIELD===
  field_to_slice_by: "pt" 
  # ===LIMIT COMBINATIONS CALCULATED, MAINLY FOR TESTING===
  limit_combinations: 0
  # ===THRESHOLD FOR EMPTYING THE FS MAPPING===
  # fs_mapping_threshold_bytes: 1000000000 #1GB 
  fs_mapping_threshold_bytes: 50000 #FOR TESTING - 500MB for testing
  # ===INPUT DIRECTORY FOR THE ROOT FILES TO CALCULATE FROM===
  input_dir: "data/root_files"
  # ===OUTPUT DIRECTORY FOR THE INVARIANT MASS ARRAYS===
  output_dir: "data/inv_masses"
  # ===PARTICLES TO CALCULATE INVARIANT MASS OUT OF===
  objects_to_calculate:
      - Electrons
      - Muons
      - Jets
      - Photons
  # ===COMBINATORICS===
  # ===MINIMUM AND MAXIUM PARTICLES IN A COMBINATION===
  min_particles: 2
  max_particles: 4
  # ===COUNT FOR EACH PARTICLE IN A COMBINATION=== 
  min_count: 2
  max_count: 4
