tasks:
  do_parsing: true
  do_mass_calculating: true

parsing:
  parse_in_subprocess: true #Important for cluster processing
  random_files: false #For testing
  release_year: '2024'
  max_threads: 2
  max_process_memory_mb: 8192
  # max_chunk_size_bytes: 1000000000 #1GB 
  max_chunk_size_bytes: 50000000 #500MB
  file_limit: 50
  output_path: 'data/root_files'
  logging_path: 'logs/'

  particle_counts:
    Electrons:
      min: 1
      max: 6
    Muons:
      min: 1
      max: 6
    Jets:
      min: 2
      max: 8
    Photons:
      min: 0
      max: 5

  kinematic_cuts:
    pt:
      min: 0
    eta:
      min: -5
      max: 5
    phi:
      min: -3.141592653589793
      max: 3.141592653589793

mass_calculate:
  input_dir: 'data/root_files'
  output_dir: 'data/inv_masses'
  objects_to_calculate:
      - Electrons
      - Muons
      - Jets
      - Photons
